.encabezado
{
	background-color: beige;

}

.final
{
	background-color: beige;
}

#frutas
{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3vw;
}


#fruta
{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2vw;
}
}