.bloqueMain
{
    background-color: azure;
    padding: 15 , 25 , 15 , 35;

}

#encabezado
{
	background-color: hotpink;
	margin: 35,25,25,15;
}

#titulo
{
	font-size: 22 px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#parrafo1
{
	font-size: 14.2 px;
	font-family: 'Times New Roman', Times, serif
}