h1{
	font-size: 22px;
	color: palegoldenrod;
	margin: 10px;
}
.bloque-main
{
	background-color: coral;
	padding: 5px;
}

.completada
{
	text-decoration: line-through;
	color:black
}

.pendiente
{
	color:whitesmoke;
}

#mostrar1
{
	margin-left: 15px ;
}