.title_1

{
    color: blue;
    font-family: Helvetica , Arial , Sans-serif;
    font-size: 10vw;
}

.subtitle_1
{
	color: green;
	font-family: Helvetica, Arial, sans-serif;
}

#bloque_1
{
	background-color: yellow;
}

#resultado
{
	color: red;
	font-size: 5vw;
}