#bloque_main
{
    background-color: aquamarine;
    margin: 20,15,15,35;
}

.bloque_1
{
    background-color: red;

}

#title_1
{
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
}

#subtitle_1
{
	font-size: 2vw;
	color: wheat;
	font-family: 'Courier New', Courier, monospace;
}